body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(49, 49, 49, 0.508);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}


.burger {
  display: none;
  transition: all .3s;
}

.burger:hover {
  transform: scale(1.1);
  rotate: 90deg;
}

.burger--follow {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px #a1a1a1;
  border-radius: 3px;
  transition: all .3s;
}

.header__logo {
  margin-right: 40px;
  transition: all .4s;
}

.header__logo:hover {
  transform: scale(1.1);
  transition: all .3s;
  rotate: 360deg;
}


.logo {}

.button {
  display: inline-block;
  background-color: #FF6433;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  padding: 16px 40px;
  border-radius: 12px;
  white-space: nowrap;
  transition: all .4s;
}

.heading__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}

.heading__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;

}

.heading--text-center {
  text-align: center;
}

/* ==================HEADER========================== */
/* ==================HEADER========================== */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 70px;
  line-height: 28px;
}


.header {}


.header_top {}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;

}

.header__nav-item {
  margin-right: 41px;
  white-space: nowrap;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #FF6433;
}

.header__verticalline {
  border: 1px solid #939191;
  height: 42px;
  opacity: 0.36;
  margin-right: 32px;

}

.header__user-nav {
  display: flex;
  margin-left: 86px;
  position: relative;
  align-items: center;
  white-space: nowrap;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  background: url("../image/tel.svg") no-repeat;
  width: 40px;
  height: 40px;
  right: 150px;

}

.header__top-button {

  position: relative;
  align-items: center;
}



.header__top-button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1E1B1B;
  opacity: 0.7;


}



.header__top-phone {
  padding-top: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
  transition: all .3s;
}

.header__top-phone:hover {
  color: #FF6433;
  transform: scale(1.1);

}


/* ========================HEADER BODY================= */
/* ========================HEADER BODY================= */


.header__main {
  display: flex;
  justify-content: space-between;

}

.header__body-inner {
  margin-top: 70px;
}

.header__content {
  margin-right: 30px;
  margin-top: 152px;
  color: #1E1B1B;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 614px;
  margin-bottom: 32px;


}

.header__content-buttons {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 50px;
}

.button:hover {
  transform: scale(1.05);
}

.header__play {
  display: flex;
  align-items: center;
  padding: 15px;
  transition: all .4s;
  font-weight: 500;
  line-height: 19px;
  margin-left: 36px;

}

.header__play svg {
  margin-right: 8px;

}


.header__play:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 0px 0px #FF6433;
  border-radius: 4px;
}

.header__content-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
  position: relative;
  margin-left: 50px;

}

.header__content-text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}


.header__content-text::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/time.svg") no-repeat;
  height: 30px;
  width: 31px;
  top: 20px;
  left: -50px;
}

.header__img-box {
  position: relative;
}

.header__img {
  max-width: 595px;
  max-height: 632px;
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.header__body-inner {
  margin-top: 70px;
}

.header__service {
  display: flex;
  white-space: nowrap;
  align-items: center;
  position: absolute;
  background-color: #fff;
  padding: 14px;
  box-shadow: 0px 0px 0px 10px #dddbdb5a;
  border-radius: 59px;
  top: 150px;
  left: -30px;

}

.header__service-circle {
  background: #5CBA99;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding: 20px 10px;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: 14px;
}

.header__service-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.header__rating {
  display: flex;
  background-color: #fff;
  position: absolute;
  padding: 20px 24px;
  box-shadow: 0px 0px 0px 10px #dddbdb5a;
  border-radius: 59px;
  align-items: center;
  top: 510px;
  right: -30px;
}

.header__rating-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.header__rating-numbers {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-right: 15px;
}

.header__rating-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}



/* ==================OFFER========================== */
/* ==================OFFER========================== */

.offer {
  color: #1E1B1B;
  background-color: #F2F2F2;
  margin-top: 128px;
}



.offer__inner {
  padding-bottom: 128px;
}

.offer__heading {
  padding-top: 128px;
  margin-bottom: 64px;
}

.offer__service {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.offer__service-item {
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  min-height: 218px;
  white-space: nowrap;
  
}



.offer__service-item:hover {
  background: #FF6433;
  color: #fff;
  transform: scale(1.05);
}

.offer__service-icon path {
  transition: all .5s;
}

.offer__service-item:hover path {
  fill: #fff;
}


.offer__service-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.offer__service-name:hover {
  color: #fff;
}

.offer__button {
  margin-top: 32px;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  transition: all .3s;
  margin-left: 1042px;
  overflow: hidden;
}


.offer__about-link {
  display: flex;
  align-items: center;
  float: right;
  transition: all .3s;
}

.offer__about-link:hover, .offer__about-link:hover path {
  fill: #FF6433;
  color: #FF6433;
  transform: scale(1.1);
}

.offer__about-text {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-right: 16px;
}



/* ==================ABOUT========================== */
/* ==================ABOUT========================== */



.about {
  color: #1E1B1B;
}

.about__inner {
  margin-top: 134px;
  margin-bottom: 134px;
}

.about__finsweet {
  display: flex;

}

.about__finsweet-content {
  max-width: 554px;
}

.about__heading {
  margin-bottom: 16px;

}

.about__button {
  display: inline-block;
  transition: all .4s;
}

.about__button:hover {
  transform: scale(1.05);
}

.about__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  max-width: 437px;
  margin-bottom: 32px;

}


.about__finsweet-steps {
  margin-left: 131px;

  display: flex;
  flex-direction: column;
}

.about__card {
  margin-bottom: 16px;
}

.about__card-circle {
  display: flex;
  align-items: center;
}

.about__card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.about__card-subtitle {
  display: flex;
  align-items: center;
}


.about__card-line {
  margin-left: 34px;
}

.about__card-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  padding-left: 60px;
  max-width: 426px;
}

.about__card:last-child p {
  margin-left: 40px;
}


/* ==========================TOUCH========================== */
/* ==========================TOUCH========================== */


.touch {
  background: url("../image/bg.jpg") center /cover no-repeat;

}

.touch__content {
  background-color: #FF6433;
  position: relative;

  z-index: 1;
  display: inline-block;
  padding: 128px 80px;

}


.touch__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 48px;
  max-width: 617px;

}

.touch__title {
  margin-bottom: 48px;
}

.touch__button {
  background-color: #000000;
}

/* ===================EXPIRIENCE======================== */
/* ===================EXPIRIENCE======================== */

.expirience {
  padding: 48px 0;
}


.expirience__list {
  display: flex;


}

.expirience__item {
  margin-right: 185px;
}

.expirience-item:last-child {
  margin-right: 0;
}

.expirience__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 2px;
  color: #661CE7;
  display: flex;
}

.expirience__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  opacity: 0.7;
  white-space: nowrap;
}



/* ===================BRANDS======================== */
/* ===================BRANDS======================== */

.brands {
  background-color: #E2E6E9;
  padding: 128px 0px 128px 0px;
}

.brands__heading h2 {
  margin-bottom: 31px;
}

.brands__logos {
  display: grid;
  grid-template: auto auto/ repeat(5, 1fr);
  gap: 39px;
}


.brands__svg {
  transition: all 0.3s;

}


.brands__svg:hover path {
  transition: all .3s;
  fill: #FF6433;
}

.brands__svg:hover {
  transition: all 1s;
  border: #000000 1px solid;
}




/* ===================BLOG======================== */
/* ===================BLOG======================== */



.blog {
  padding: 131px 0px 136px;
  color: #1E1B1B;
}


.blog__heading {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}


.blog__filter-box {
  margin-bottom: 46px;
  display: flex;
}

.blog__filter-item {
  margin-right: 30px;
}

.blog__filter-item:last-child {
  margin-right: 0px;
}

.blog__filter-item--active {
  color: #FF6433;
}

.blog__filter-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  background-color: transparent;
}

.blog__filter-item:last-child {
  margin-right: 0px;
}

.blog__list {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 64px 32px;

}


.blog__image-box {
  margin-bottom: 24px;
}

.blog__image-box img {
  height: 100%;
  width: 100%;
}

.blog__link-content {
  transition: all 0.3s;
}

.blog__link-content:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 0px 0px #FF6433;
}

.blog__link-date {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

.blog__link-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.blog__link-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}



/* ===================CUSTOMERS======================== */
/* ===================CUSTOMERS======================== */


.customers {
  background: #F2F2F2;
  padding: 128px 0 206px;
}

.customers__inner {}

.customers__heading {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-bottom: 76px;
}


.customers__slider {
  margin-bottom: 47px;

}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0 30px;
}

.customers__slide {
  margin-right: 48px;
  background-color: #fff;
  border-radius: 6px;
  padding: 72px;
  box-shadow: 0 0 5px rgba(97, 97, 97, 0.2);
  border: 1px solid rgba(172, 172, 172, 0.29);

}

.customers__slide-inner {
  max-width: 472px;
  margin: 0 auto;

}

.customers__user {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.customers__avatar {
  margin-right: 16px;
  overflow: hidden;
  border-radius: 50%;
}

.customers__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.customers__city {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
  display:
}

.customers__quote {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}


/* ===========SLICK-DOTS=========== */




.customers__slider-buttons.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__slider-buttons .slick-dots li {
  margin-right: 15px;
}

.customers__slider-buttons .slick-dots li:last-child {
  margin-right: 0;
}

.customers__slider-buttons {
  margin-right: 60px;
}

.customers__slider-buttons .slick-dots {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
}

.customers__slider-buttons .slick-dots button {
  font-size: 0;
  background-color: transparent;
  padding: 16px 16px;
  position: relative;
  align-items: center;

}

.slick-dots button::before {
  content: '';
  position: absolute;
  right: 25px;
  padding: 2px 16px;
  background-color: #939191;
  cursor: pointer;
}

.customers__slider-buttons .slick-active button::before {
  background-color: #FF6433;
}

/* ===========SLICK-ARROWS=========== */

.customers__slider-buttons {
  position: relative;
}

.customers__slider-btn {
  z-index: 2;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__slider-prev {
  right: 78px;
}

.customers__slider-btn:hover path {
  fill: #fff;
}

.customers__slider-btn:hover {
  transform: scale(1.3);
  background-color: #000;

}




/* ===================QUESTIONS======================== */
/* ===================QUESTIONS======================== */


.main__questions {
  background: #E2E6E9;
}

.questions {
  padding: 128px 0px 128px;
}

.questions__inner {}

.questions__heading {
  margin-bottom: 86px;
}

.questions__acc-link {
  display: block;
  padding: 40px;
  background-color: #fff;
}

.questions__acc {}

.questions__acc-item {
  margin-bottom: 12px;
}

.questions__acc-item:last-child {
  margin-bottom: 0;
}

.questions__acc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions__square {
  width: 51px;
  height: 48px;
  background-color: #FF6433;
  position: relative;
}

.questions__square::after,
.questions__square::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 17px;
  width: 17px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}

.questions__square::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.questions__acc-link--active .questions__square::after {
  transform: rotate(0deg);
}


.questions__acc-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  position: relative;
}

.questions__acc-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  max-width: 731px;
  margin-top: 16px;
}



/* ===================CONTACT======================== */
/* ===================CONTACT======================== */

.main__contact {
  padding: 122px 122px;
  margin-bottom: 400px;
}

.contact {}

.contact__inner {}

.contact__heading {
  max-width: 480px;
  margin-bottom: 48px;
}

.contact__box {
  display: flex;
}



.contact__form {
  display: flex;
  flex-direction: column;
  margin-right: 139px;
  width: 626px;
}


.contact__input {
  background: #F2F2F2;
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 23px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  width: 100%;

}

.contact__input::placeholder {
  color: #1E1B1B;
}

.contact__input:last-child {
  margin-bottom: 0;

}

.contact__input:nth-child(4) {
  margin-bottom: 48px;
}


.contact__sand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__checkbox-label {
  display: flex;
  margin-right: 50px;
}

.contact__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  flex: 0 0 auto;

}

.contact__form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.contact__form-default:checked+.contact__form-custom {
  background: url("../image/check.svg") 50% 50% no-repeat, #FF6433;
  border: 1px solid #FF6433;
}



.contact__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;

}


.contact__info {
  font-style: normal;
  /* margin-bottom: 350px; */
}

.contact__address, .contact__details {
  margin-bottom: 32px;
}

.contact__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  opacity: 0.7;

}

.contact__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

#map {
  height: 512px;
  width: 500px;
  transform: translateY(-68%);
}

.footer-img {
  background: url("../image/footer.jpg") 0 0 / 100% no-repeat;
  width: 100%;
  height: 448px;
  background-size: cover;
  background-position: center;
  margin-top: 178px;
}



/* ===================FOOTER======================== */
/* ===================FOOTER======================== */


.footer {}

.footer__top {
  background: #1E1B1B;
  opacity: 0.98;
  color: #FFFFFF;
  padding: 128px 0 129px 0;
}

.footer__top-inner {
  display: flex;
}

.footer__top-content {
  margin-right: 193px;

}


.footer__heading h2 {
  margin-bottom: 64px;
  max-width: 536px;
  letter-spacing: -0.03em;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;

}

.footer__top-list {
  display: flex;

}

.footer__top-item {
  margin-right: 24px;

}

.footer__top-item:last-child {
  margin-right: 0;

}

.footer__top-link path {
  transition: all .6s;
}

.footer__top-link:hover path {
  fill: #FF6433;
  transition: all .3s;
}


.footer__top-details {
  font-style: normal;

}

.footer__top-noumber, .footer__top-address {
  margin-bottom: 32px;


}

.footer__top-subtitle {
  opacity: 0.6;
  font-size: 18px;
  line-height: 175%;
}

.footer__top-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}



.footer_bottom {
  background: #1E1B1B;
  color: #fff;
}

.footer__bottom-inner {
  padding: 65px 0 65px 0;
}

.footer__bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer__bottom-list {
  display: flex;
}

.footer__bottom-item {
  margin-right: 36px;
}

.footer__bottom-item:last-child {
  margin-right: 0;
}

.footer__bottom-link {
  transition: all .6s;
}

.footer__bottom-link:hover {
  color: #FF6433;
  transition: all .3s;
}


.footer__bottom-copyright {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}



/* ===========================MEDIA============================ */
/* ===========================MEDIA============================ */
/* ===========================1300============================ */
@media(max-width:1300px) {
  .header__title {
    font-size: 58px;
    max-width: 560px;
  }

}

/* ===========================1220============================ */
@media (max-width:1220px) {
  .header__title {
    font-size: 52px;
    max-width: 505px;
  }

  .header__content {
    margin-top: 100px;
  }

  .header__img-box {
    max-width: 510px;
  }

  .header__service {
    padding: 10px;
  }

  .header__service-text {
    font-size: 20px;

  }

  .header__rating {
    padding: 20px 20px;
  }

  .header__rating-numbers {
    font-size: 20px;
  }
}

/* ===========================1100============================ */
@media (max-width:1100px) {
  .header__title {
    font-size: 42px;
    max-width: 450px;
  }

  .header__content {
    margin-top: 100px;
  }

  .header__img-box {
    max-width: 460px;
  }


  .header__service-circle {
    font-size: 20px;
    line-height: 27px;
  }

  .header__service-text {
    font-size: 18px;

  }

  .header__rating {
    top: 453px;
    padding: 15px 11px;

  }

  .header__rating-numbers {
    font-size: 18px;
  }

  .header__content-btn {
    font-size: 14px;
    padding: 12px 30px;
  }

  .header__play {
    padding: 10px;
    font-size: 14px;
}
.header__content-text span {
  font-size: 12px;
}

.header__content-text {
  font-size: 16px;
}
}


/* ===========================1000============================ */
/* ----------------HEADER TOP-------------- */
@media (max-width:1000px) {
  .header__verticalline {
    display: none;
  }

  .burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 150;
    padding: 15px;
  }



  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    background-color: #1E1B1B;
    border-radius: 3px;
    margin: 3px 0;

  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: #1E1B1B;
    border-radius: 3px;
  }

  .header {
    padding-top: 93px;
  }

  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: .5s all;
  }

  .header__top--open {

    transition: .5s all;
    transform: translateX(0%);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 28px 0;
  }

  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .header__nav-link {
    padding: 5px 50px;
    display: block;
    margin: 24px auto;
    font-size: 25px;
  }

  .header__logo {
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav-item:last-child {
    margin: 0;
  }


  .header__user-nav {
    margin: 0;
  }


  /* ---------------------------HEADER BODY */
  .header__content {
    margin: 0;
  }

  .header__title {
    max-width: 534px;
    font-size: 50px;
    line-height: 68px;
  }

  .header__img {
    display: none;
  }

  .header__service {
    left: -337px;
    top: 20px;
  }

  .header__rating {
    top: 210px;
    right: 46.5px;
  }

  .header__body-inner {
    margin: 0;
  }

  /* ---------------------------OFFER */
  .heading__title{
    font-size: 48px;
  }
}

/* ===============================940=================== */
/* ----------------HEADER BODY-------------- */
@media (max-width:940px) {
  .heading__title{
    font-size: 46px;
  }

  

  .header__main {
    flex-direction: column;
  }

  .header__content {
    margin: 0;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .header__rating {
    display: none;
  }

  .header__service {
    display: none;
  }
/* ----------------OFFER-------------- */
.offer__service-name{
  font-size: 20px;
}
}

/* ===============================800=================== */
/* ----------------OFFER-------------- */

@media (max-width:800px) {

  .heading__title{
    font-size: 44px;

  }
  .offer__service-name{
    font-size: 18px;
  }
.offer__service-icon svg{
  transform: scale(0.8);
}

.offer__about-text{
  font-size: 15px;
}

.offer__about-link svg{
  transform: scale(0.8);
}

.offer__service-item{
  min-height: 170px;
}
}

/* ===============================730=================== */
/* ----------------OFFER-------------- */
@media (max-width:730px){
  .heading__subtitle{
    font-size: 18px;
  }
  .heading__title{
    font-size: 36px;
    line-height: 130%;
    
  }
  .offer__service-name{
    font-size: 16px;
  }
.offer__service-icon svg{
  transform: scale(0.7);
}
}

/* ===============================600=================== */
/* ----------------OFFER-------------- */
@media (max-width:600px){
  .heading__subtitle{
    font-size: 16px;
  }
  .heading__title{
    font-size: 30px;
    line-height: 120%;
    
  }

  .offer__service{
    grid-template: 1fr / 1fr 1fr;
    width: 100%;
    
  }

  .offer__service-item{
    min-height: 200px;
  }
  
}
/* ===============================530=================== */
/* ----------------HEADER BODY-------------- */
@media (max-width:530px) {
  .header__title {
    max-width: 400px;
    font-size: 40px;

  }

  .header__content-btn {
    font-size: 14px;
    padding: 12px 30px;
  }

  .header__play {
    padding: 10px;
    font-size: 14px;
  }

  .header__content-text span {
    font-size: 14px;
  }

  .header__content-text {
    font-size: 16px;
  }
  /* ----------------OFFER-------------- */
  .heading__subtitle{
    font-size: 14px;
  }
  .heading__title{
    font-size: 24px;
    line-height: 110%;
    
  }
  .offer__service-item{
    min-height: 170px;
  }
  .offer__service-name{
    font-size: 14px;
  }
.offer__service-icon svg{
  transform: scale(0.6);
}
}

/* ===============================450=================== */
/* ----------------HEADER BODY-------------- */
@media (max-width:450px) {
  .header__top {
    min-width: none;
    left: 0;
  }

  .header__title {
    max-width: 360px;
    font-size: 35px;

  }

  .header__content-btn {
    font-size: 12px;
    padding: 10px 26px;
  }

  .header__play {
    padding: 8px;
    font-size: 12px;
  }

  .header__content-text span {
    font-size: 10px;
  }

  .header__content-text {
    font-size: 13px;
  }

  .header__content-text::before {
    display: none;
  }
  /* ----------------OFFER-------------- */
  .heading__subtitle{
    font-size: 12px;
  }
  .heading__title{
    font-size: 20px;
    line-height: 110%;
    
  }
}


/* ===============================380=================== */
/* ----------------HEADER BODY-------------- */
@media (max-width:450px) {
  .header__title {
    max-width: 300px;
    font-size: 28px;

  }

  .header__content-btn {
    font-size: 12px;
    padding: 10px 26px;
  }

  .header__play {
    padding: 8px;
    font-size: 12px;
  }

  .header__content-text span {
    font-size: 10px;
  }

  .header__content-text {
    font-size: 13px;
  }

  .header__content-text::before {
    display: none;
  }
/* ----------------OFFER-------------- */
.heading__subtitle{
  font-size: 10px;
}
.heading__title{
  font-size: 18px;
  line-height: 110%;
  
}

.offer__service-item{
  min-height: 140px;
}
.offer__service-name{
  font-size: 12px;
}
.offer__service-icon svg{
transform: scale(0.6);
}
.offer__about-text{
  font-size: 12px;
}

.offer__about-link svg{
  transform: scale(0.6);
}

.offer__about-link{
  
}
}