body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header__logo {
  margin-right: 40px;
}

.header__logo {}


.logo {}

.button {
  display: inline-block;
  background-color: #FF6433;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  padding: 16px 40px;
  border-radius: 12px;
  white-space: nowrap;
  transition: all .4s;
}

.heading__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}

.heading__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;

}

.heading--text-center {
  text-align: center;
}

/* ==================HEADER========================== */
/* ==================HEADER========================== */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 70px;
  line-height: 28px;
}


.header {}


.header_top {}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;

}

.header__nav-item {
  margin-right: 41px;
  white-space: nowrap;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1E1B1B;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #FF6433;
}

.header__verticalline {
  border: 1px solid #939191;
  height: 42px;
  opacity: 0.36;
  margin-right: 32px;

}

.header__user-nav {
  display: flex;
  margin-left: 86px;
  position: relative;
  align-items: center;
  white-space: nowrap;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  background: url("../image/tel.svg") no-repeat;
  width: 40px;
  height: 40px;
  right: 150px;

}

.header__top-button {

  position: relative;
  align-items: center;
}



.header__top-button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1E1B1B;
  opacity: 0.7;


}



.header__top-phone {
  padding-top: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
  transition: all .3s;
}

.header__top-phone:hover {
  color: #FF6433;
  transform: scale(1.1);

}


/* ========================HEADER BODY================= */
/* ========================HEADER BODY================= */


.header__main {
  display: flex;
  justify-content: space-between;

}

.header__body-inner {
  margin-top: 70px;
}

.header__content {
  margin-right: 30px;
  margin-top: 152px;
  color: #1E1B1B;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 614px;
  margin-bottom: 32px;


}

.header__content-buttons {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 50px;
}

.button:hover {
  transform: scale(1.05);
}

.header__play {
  display: flex;
  align-items: center;
  padding: 15px;
  transition: all .4s;
  font-weight: 500;
  line-height: 19px;
  margin-left: 36px;

}

.header__play svg {
  margin-right: 8px;

}


.header__play:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 0px 0px #FF6433;
  border-radius: 4px;
}

.header__content-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
  position: relative;
  margin-left: 50px;

}

.header__content-text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}


.header__content-text::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/time.svg") no-repeat;
  height: 30px;
  width: 31px;
  top: 20px;
  left: -50px;
}

.header__img-box {
  position: relative;
}

.header__img {
  max-width: 595px;
  max-height: 632px;
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.header__body-inner {
  margin-top: 70px;
}

.header__service {
  display: flex;
  white-space: nowrap;
  align-items: center;
  position: absolute;
  background-color: #fff;
  padding: 14px;
  box-shadow: 0px 0px 0px 10px #dddbdb5a;
  border-radius: 59px;
  top: 150px;
  left: -30px;

}

.header__service-circle {
  background: #5CBA99;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding: 20px 10px;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: 14px;
}

.header__service-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.header__rating {
  display: flex;
  background-color: #fff;
  position: absolute;
  padding: 20px 24px;
  box-shadow: 0px 0px 0px 10px #dddbdb5a;
  border-radius: 59px;
  align-items: center;
  top: 510px;
  right: -30px;
}

.header__rating-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.header__rating-numbers {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-right: 15px;
}

.header__rating-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}



/* ==================OFFER========================== */
/* ==================OFFER========================== */

.offer {
  color: #1E1B1B;
  background-color: #F2F2F2;
  margin-top: 128px;
}



.offer__inner {
  padding-bottom: 128px;
}

.offer__heading {
  padding-top: 128px;
  margin-bottom: 64px;
}

.offer__service {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  align-items: center;
  gap: 8px;

}

.offer__service-item {
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  min-height: 218px;
  white-space: nowrap;
}



.offer__service-item:hover {
  background: #FF6433;
  color: #fff;
  transform: scale(1.05);
}

.offer__service-icon path {
  transition: all .5s;
}

.offer__service-item:hover path {
  fill: #fff;
}


.offer__service-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.offer__service-name:hover {
  color: #fff;
}

.offer__button {
  margin-top: 32px;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  transition: all .3s;
  margin-left: 1042px;
  overflow: hidden;
}

.offer__button::after {
  content: "";
  display: flex;
  background: url("../image/offer/arrow-right.svg");
  width: 53px;
  height: 16px;
  margin-left: 16px;
  align-items: center;

}

.offer__button:hover {
  color: #FF6433;
  transform: scale(1.1);
}



/* ==================ABOUT========================== */
/* ==================ABOUT========================== */



.about {
  color: #1E1B1B;
}

.about__inner {
  margin-top: 134px;
  margin-bottom: 134px;
}

.about__finsweet {
  display: flex;

}

.about__finsweet-content {
  max-width: 554px;
}

.about__heading {
  margin-bottom: 16px;

}

.about__button {
  display: inline-block;
  transition: all .4s;
}

.about__button:hover {
  transform: scale(1.05);
}

.about__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  max-width: 437px;
  margin-bottom: 32px;

}


.about__finsweet-steps {
  margin-left: 131px;

  display: flex;
  flex-direction: column;
}

.about__card {
  margin-bottom: 16px;
}

.about__card-circle {
  display: flex;
  align-items: center;
}

.about__card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.about__card-subtitle {
  display: flex;
  align-items: center;
}


.about__card-line {
  margin-left: 34px;
}

.about__card-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  padding-left: 60px;
  max-width: 426px;
}

.about__card:last-child p {
  margin-left: 40px;
}


/* ==========================TOUCH========================== */
/* ==========================TOUCH========================== */


.touch {
  background: url("../image/bg.jpg") center /cover no-repeat;

}

.touch__content {
  background-color: #FF6433;
  position: relative;

  z-index: 1;
  display: inline-block;
  padding: 128px 80px;

}


.touch__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 48px;
  max-width: 617px;

}

.touch__title {
  margin-bottom: 48px;
}

.touch__button {
  background-color: #000000;
}

/* ===================EXPIRIENCE======================== */
/* ===================EXPIRIENCE======================== */

.expirience {
  padding: 48px 0;
}


.expirience__list {
  display: flex;


}

.expirience__item {
  margin-right: 185px;
}

.expirience-item:last-child {
  margin-right: 0;
}

.expirience__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 2px;
  color: #661CE7;
  display: flex;
}

.expirience__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  opacity: 0.7;
  white-space: nowrap;
}



/* ===================BRANDS======================== */
/* ===================BRANDS======================== */

.brands {
  background-color: #E2E6E9;
  padding: 128px 0px 128px 0px;
}

.brands__heading h2 {
  margin-bottom: 31px;
}

.brands__logos {
  display: grid;
  grid-template: auto auto/ repeat(5, 1fr);
  gap: 39px;
}


.brands__svg {
  transition: all 0.3s;

}


.brands__svg:hover path {
  transition: all .3s;
  fill: #FF6433;
}

.brands__svg:hover {
  transition: all 1s;
  border: #000000 1px solid;
}




/* ===================BLOG======================== */
/* ===================BLOG======================== */



.blog {
  padding: 131px 0px 136px;
  color: #1E1B1B;
}


.blog__heading {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}


.blog__filter-box {
  margin-bottom: 46px;
  display: flex;
}

.blog__filter-item {
  margin-right: 30px;
}

.blog__filter-item:last-child {
  margin-right: 0px;
}

.blog__filter-item--active {
  color: #FF6433;
}

.blog__filter-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  background-color: transparent;
}

.blog__filter-item:last-child {
  margin-right: 0px;
}

.blog__list {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 64px 32px;

}


.blog__image-box {
  margin-bottom: 24px;
}

.blog__image-box img {
  height: 100%;
  width: 100%;
}

.blog__link-content {
  transition: all 0.3s;
}

.blog__link-content:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 0px 0px #FF6433;
}

.blog__link-date {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

.blog__link-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.blog__link-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}



/* ===================CUSTOMERS======================== */
/* ===================CUSTOMERS======================== */


.customers{
  background: #F2F2F2;
  padding: 128px 0 206px;
}

.customers__inner {}

.customers__heading {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-bottom: 76px;
}


.customers__slider {
margin-bottom: 47px;

}

.customers__slide {
  margin-right: 48px;
  background-color: #fff;
  border-radius: 6px;
  padding: 72px;
  box-shadow: 0 0 5px rgba(97, 97, 97, 0.2);
  border: 1px solid rgba(172, 172, 172, 0.29);
  
}

.customers__slide-inner{
  max-width: 472px;
  margin: 0 auto;
  
}

.customers__user {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.customers__avatar {
  margin-right: 16px;
  overflow: hidden;
  border-radius: 50%;
}

.customers__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.customers__city {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
  display:
}

.customers__quote {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}


/* ===========SLICK-DOTS=========== */




.customers__slider-buttons.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__slider-buttons .slick-dots li{
  margin-right: 15px;
}

.customers__slider-buttons .slick-dots li:last-child{
  margin-right: 0;
}


.customers__slider-buttons .slick-dots {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
}

.customers__slider-buttons .slick-dots button{
  font-size: 0;
  background-color: transparent;
  padding: 16px 16px;
  position: relative;
  align-items: center;

}

.slick-dots button::before {
  content: '';
  position: absolute;
  right: 25px;
  padding: 2px 16px;
  background-color: #939191;
  cursor: pointer;
}

.customers__slider-buttons .slick-active button::before {
  background-color: #FF6433;
}

/* ===========SLICK-ARROWS=========== */

.customers__slider-buttons{
  position: relative;
}

.customers__slider-btn {
  z-index: 2;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__slider-prev {
  right: 78px;
}

.customers__slider-btn:hover path {
  fill: #fff;
}

.customers__slider-btn:hover {
  transform: scale(1.3);
  background-color: #000;
  
}




